@using WooMeal2.ViewModel;
@model ShoppingCartViewModel

<head>
    <link rel="stylesheet" type="text/css" href="css/cart.css">
</head>


<a asp-area="" asp-controller="ShoppingCart" asp-action="Index" style="padding:5px;color: rgba(0,0,0,.7);text-decoration: none;">
    <span style="font-size:16px; text-align:center; margin:5px;">
<i class="bi bi-cart"></i>
        Kosár (@Html.Raw(@Model.ShoppingCart.ShoppingCartItems.Count()) db elem)
    </span>
</a>